.settings-menu {
    color: black;
}

.volume-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    height: 24px;
}

.volume-button {
    color:black;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

.settings-label {
    padding-bottom: 0.6em;
    margin-top: 1.2em;
}