.character-image {
    width: auto;
    height: 50vh;
}

.onboard-container {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}